$black: #000;
$white: #fff;
$light-blue: #80d2e9;
$teal: #00a4d3;
$font-size-base: 1.4rem;
$font-size-h1: 7.2rem;
$line-height-base: 1.2;
$font-family-base: Roboto,
Arial,
sans-serif;
$min-width-1: 700px;
$min-width-2: 1170px;
$max-width-1: 1170px;