$black: #000;
$white: #fff;
$light-blue: #80d2e9;
$teal: #00a4d3;
$grey-33: #333;
$grey-fa: #fafafa;
$grey-f5: #f5f5f5;
$grey-80: #808080;
$grey-4c: #4c4c4c;
$font-size-base: 1.4rem;
$font-size-h1: 7.2rem;
$line-height-base: 1.2;
$font-family-base: Roboto,
Arial,
sans-serif;
$min-width-1: 700px;
$min-width-2: 1170px;
$max-width-1: 1170px;