.contacts {
  &__inner {
    width: 100vw;
  }
  &__title {
    @include visually-hidden;
  }
  &__list {
    @include list-to-flex;
    @media(max-width: $min-width-1) {
      flex-wrap: wrap;
    }
  }
}

.contact {
  width: 25%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 45px;
  padding-bottom: 45px;
  box-sizing: border-box;
  @media(max-width: $min-width-1) {
    width: 50%;
  }
  &--odd {
    background-color: $grey-f5;
  }
  &--even {
    padding-top: 55px;
    background-color: $grey-fa;
  }
  &__img {
    width: 33%;
    margin-bottom: 10px;
    &--wide {
      width: 36%;
      margin-bottom: 20px;
    }
  }
  &__title,
  &__link {
    display: block;
    font-size: $font-size-base + .2;
    font-family: Roboto, Arial, sans-serif;
    color: $teal;
    line-height: 1.2;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-style: normal;
    &:active,
    &:visited,
    &:hover,
    &:focus {
      color: $teal;
    }
    svg {
      fill: $teal;
    }
  }
  &__text {
    display: block;
    font-size: $font-size-base;
    font-family: Roboto, Arial, sans-serif;
    color: $grey-4c;
    line-height: 1.3;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 1px;
    font-style: normal;
  }
}
