  .testimonials {
  background-image: url("../img/testimonials__bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: $teal;
  @media (-webkit-min-device-pixel-ratio: 2) {
    background-image: url("../img/testimonials__bg@2x.png");
  }
  &__inner {
    max-width: 1140px;
    padding-right: 9%;
    padding-left: 9%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
  }
  &__title {
    @include visually-hidden;
  }
  &__list {
    position: relative;
    list-style: none;
    margin: 0;
    min-height: 550px;
    @media(min-width: $min-width-1) and (max-width: $min-width-2) {
      min-height: 490px;
    }
    &__nav {
      width: 62px;
      display: flex;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;
      z-index: 10;
      cursor: pointer;
      margin-top: 50px;
    }
    &__nav-item {
      box-sizing: border-box;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 2px solid $white;
      cursor: pointer;
      z-index: 10;
      &--active {
        background-color: $white;
      }
    }
  }
  .testimonial {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    &--show {
      opacity: 1;
    }
    &__img {
      display: block;
      margin: auto;
      width: 37%;
      @media(min-width: $min-width-1) and (max-width: $min-width-2) {
        width: 40%;
      }
      @media(max-width: $min-width-1) {
        width: 60%;
      }
    }
    &__name {
      display: block;
      margin-top: 50px;
      margin-bottom: 35px;
      font-size: $font-size-h1 / 2;
      font-family: Dosis, Arial, sans-serif;
      color: $white;
      line-height: 1.2;
      font-weight: 700;
      text-align: center;
      font-style: normal;
      letter-spacing: 2px;
    }
    &__text {
      font-size: $font-size-base + .4;
      font-family: Roboto, Arial, sans-serif;
      line-height: 1.2;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
      color: $white;
      font-weight: normal;
    }
  }
